:root {
  --main-color: #e44232;
  --secondary-color: #fff9f3;
  --button-hover: #ee5244;
  --color-grey-7: #575757;
  --color-grey-1: #fafafa;
  --color-grey-2: #f2f2f2;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikThin.otf");
  font-weight: 100;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikExtralight.otf");
  font-weight: 200;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikLight.otf");
  font-weight: 300;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikRegular.otf");
  font-weight: 400;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikSemibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikSuper.otf");
  font-weight: 800;
}
@font-face {
  font-family: Graphik Web;
  src: url("../fonts/GraphikBlack.otf");
  font-weight: 900;
}

body {
  font-family: Graphik Web;
}

/* Components */
.primary-btn {
  background-color: #db4c3f;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.primary-btn:hover {
  background-color: #b03d32;
  color: white;
}
/* Components */
/* navbar */
nav.navbar {
  width: 100%;
  z-index: 10;
  background-color: white;
}
.navbar-brand {
  color: var(--main-color);
  font-weight: 600;
}
.navbar-brand:hover {
  color: var(--main-color);
}

main h1 {
  font-size: 32px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
}
form {
  max-width: 390px;
  display: none !important;
}
form .input-field {
  position: relative;
  margin-bottom: 15px;
}
form .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
form input {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 34px 5px 5px 8px;
  outline: none;
}
form .input-field input:focus {
  border-color: #c1c1c1;
}
form input::placeholder {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 400;
}
p.error-message {
  color: red !important;
  margin: 0 !important;
  padding: 5px;
  font-size: 14px;
}
.password-field {
  border: 1px solid #e5e5e5;
  padding: 8px;
  padding-bottom: 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 15px;
  cursor: text;
}
.password-field span label {
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  font-style: 13px;
  color: rgba(0, 0, 0, 0.7);
}
.password-field input {
  border: none;
  outline: none;
  padding: 0;
}

form .password button {
  background-color: transparent;
  border: none;
  outline: none;
}
form .password button:hover {
  background-color: #e6e6e6;
}
form .password button i {
  color: rgba(0, 0, 0, 0.7);
}

.form-container .signup {
  font-size: 13px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #d5d5d5;
  padding-top: 20px;
}
form .signup a {
  color: rgba(0, 0, 0, 0.7);
}

main .container img {
  max-width: 500px;
}

.hide {
  display: none !important;
}


