{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'playground/css/all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'playground/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'playground/css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'playground/css/emoji-picker.css' %}">
  <link rel="stylesheet" href="{% static 'playground/css/vanilla-calendar.min.css' %}">
  <title>inbox:todoist</title>
</head>

<body>
  <main class="loading d-flex justify-content-center align-items-center flex-column">
    <svg height="32" width="127" xmlns="http://www.w3.org/2000/svg" class="tjpUghYbxDT9fL3BvQeY">

      <g fill="none" fill-rule="evenodd">
        <path
          d="M4.005 0A4.014 4.014 0 0 0 0 4v24c0 2.2 1.802 4 4.005 4h24.032c2.203 0 4.005-1.8 4.005-4V4c0-2.2-1.802-4-4.005-4z"
          fill="#e44332" mask="url(#td-logo-wordmark_svg__a)"></path>
        <g fill="#fff">
          <path
            d="m6.792 15.157 12.865-7.479c.275-.16.289-.653-.02-.83-.308-.178-.893-.514-1.111-.643a1.004 1.004 0 0 0-.991.012c-.154.09-10.433 6.06-10.776 6.256-.412.236-.92.24-1.33 0L0 9.287v2.708c1.321.778 4.607 2.71 5.403 3.165.475.27.93.264 1.389-.003">
          </path>
          <path
            d="m6.792 20.277 12.865-7.479c.275-.16.289-.653-.02-.83-.308-.178-.893-.514-1.111-.643a1.004 1.004 0 0 0-.991.012c-.154.09-10.433 6.06-10.776 6.256-.412.236-.92.24-1.33 0L0 14.407v2.708c1.321.778 4.607 2.71 5.403 3.165.475.27.93.264 1.389-.003">
          </path>
          <path
            d="m6.792 25.717 12.865-7.479c.275-.16.289-.653-.02-.83-.308-.178-.893-.514-1.111-.643a1.004 1.004 0 0 0-.991.012c-.154.09-10.433 6.06-10.776 6.256-.412.236-.92.24-1.33 0L0 19.847v2.708c1.321.778 4.607 2.71 5.403 3.165.475.27.93.264 1.389-.003">
          </path>
        </g>
      </g>
    </svg>
    <div class="load"></div>
  </main>

  <script src="{% static 'playground/js/inbox.js' %}"></script>
  <script src="{% static 'playground/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>